<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Binary Translator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="icon" type="image/png" href="static/img/binary.favicon.png" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a>Binary Translator</a>
      </div>
      <nav class="navigation">
        <ul>
          <li>
            <a
              href="/"
              class="{% if request.endpoint == 'index' %}active{% endif %}"
              >Decimal or Word to Binary</a
            >
          </li>
          <li>
            <a
              href="/binary-decimal"
              class="{% if request.endpoint == 'binary-decimal' %}active{% endif %}"
              >Binary to Decimal or Word</a
            >
          </li>
          <li>
            <a
              href="/about"
              class="{% if request.endpoint == 'about' %}active{% endif %}"
              >About us</a
            >
          </li>
          <li>
            <a
              href="/donate"
              class="{% if request.endpoint == 'donate' %}active{% endif %}"
              >Donate</a
            >
          </li>
        </ul>
      </nav>

      <!-- Burger -->
      <div class="burger">
        <span></span>
      </div>
    </header>

    <div class="all">
      <main>
        <form class="all_form">
          <p class="Write">
            Write your Word or Number that you would translate
          </p>
          <input
            type="text"
            id="inputData"
            name="data"
            class="input_index"
            maxlength="20"
            placeholder="Write your number or word..."
          />
          <p class="remember">
            Remember, you can write only 20 or fewer characters and <br />
            it should be only one word without spaces.
          </p>
          <button type="button" id="sendButton">Convert</button>
        </form>

        <form class="answer_form">
          <p class="Answer">Your answer:</p>
          <div id="response"></div>
        </form>
      </main>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script
      src="https://5gvci.com/act/files/tag.min.js?z=10629412"
      data-cfasync="false"
      async
    ></script>
  </body>
</html>
